html {
  color-scheme: dark;
}

body {
  overflow: hidden;
}

.game-player {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.game-turn {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin: 0;
}

.game-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: auto;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 50px;
  width: 500px;
  height: 700px;
  margin: auto;
}

.game .pad {
  border: 1px solid white;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.game .pad:hover {
  background-color: rgba(105, 105, 105, 0.3);
}
